div{
    
    margin: 20px;
    
}

.gang{
    
    width: 225px;
    height: 400px;
    background-image: url(img/gang.png);
    animation: playgang 4s steps(22) infinite;
    
    
}

@keyframes playgang{
    
    50%{
        
        transform: translate(400px);
        
    }
    
    100%{
        background-position: -4950px;
        
        
    }    
}

.guy{
    
    width: 104px;
    height: 150px;
    background-image: url(img/guy.png);
    animation: playguy 1s steps(6) infinite;
    
}

@keyframes playguy{
    
    100%{
        background-position: -624px;        
    }    
}



.cola{
    
    width: 194px;
    height: 336px;
    background-image: url(img/lata.png);
    animation: playcola 8s  infinite linear;
    
    
    
}

@keyframes playcola{
    
    0%{
        
    }
    
    100%{
        background-position: -345px;        
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}