body{
    
    background-color: #5A796B;
    text-align: center;
    font-family: serif;
    font-size: 1.2em;
    color: white;
    
}

img{
    
    width: 60%;
    margin: 10px;
    
}

a{
    
    color: #5AB86D;    
}